@import url("https://fonts.googleapis.com/css2?family=MuseoModerno&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.logo {
  margin-left: 1450px;
  height: 200px;
  width: 400px;
}

.thingsyoucando {
  font-weight: 900;
  font-size: 55px;
  width: 1500px;
  height: 225px;
  font-family: MuseoModerno;
  color: white;
  background-color: #1a1a1d;
  border-radius: 25px;
  border-top-color: #56ccf2;
  border-bottom-color: #56ccf2;
  border-left-color: orangered;
  border-right-color: orangered;
  border-width: 8px;
}

.donate {
  font-weight: 900;
  font-size: 45px;
  width: 1500px;
  height: 225px;
  font-family: MuseoModerno;
  color: white;
  background-color: #1a1a1d;
  border-radius: 25px;
  border-top-color: #56ccf2;
  border-bottom-color: #56ccf2;
  border-left-color: orangered;
  border-right-color: orangered;
  border-width: 8px;
}

.best10 {
  font-weight: 900;
  font-size: 45px;
  width: 1500px;
  height: 225px;
  font-family: MuseoModerno;
  color: white;
  background-color: #1a1a1d;
  border-radius: 25px;
  border-top-color: #56ccf2;
  border-bottom-color: #56ccf2;
  border-left-color: orangered;
  border-right-color: orangered;
  border-width: 8px;
}

.hpfaig {
  font-size: 100px;
  color: white;
  font-family: MuseoModerno;
}

.mission {
  font-size: 50px;
  color: white;
  font-family: "Roboto", sans-serif;
}
